body {
	font-family: Lato;
	background-color: #5A11B8;
	color: white;
}

h2 {
	text-decoration: underline
}

#about-me {
	margin-top: 5%;
}

#self-photo {
	align-content: center;
	height: 300px;
	width: auto;
	display: block;
	border-radius: 180px; 
	text-align: middle;
	float: left;
	margin-right: 30px;
}

#projects {
	margin-top: 10%;
}

#about-me, #projects, #classes, #contact {
	margin-left: 30%;
	margin-right: 30%;
}

#contact-icons {
	list-style-type: none; /* Gets rid of the bullet points associated with list items */
	padding-left: 0px;
}

#contact-icons li {
	display: inline; /* Shows all the icons in-line rather than all on separate lines */
}

#contact-icons img {
  width: 30px;
  height: auto;
  margin-right: 10px;
  padding-bottom: 7px;
  vertical-align: middle;
}

a:hover > img {
    border-bottom: 3px solid #FFFFFF;
}